{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
{% endblock custom_css %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <h1 style="color: rgb(21, 69, 120);">Elect-ron</h1>
                <h3 >The E-Vote App</h3>
                <hr>
                <a class="btn btn-light btn-lg" href="{% url 'polls:list' %}" style="color: rgb(21, 69, 120); role="button">Vote now !</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}